/* body {
  font-family: arial;
  background-color: rgb(185, 179, 175);
}
h1 {
  color: rgb(255, 255, 255);
} */

/* CSS RULES CASCADE */

/* * {
  font-family: Arial, Verdana, sans-serif;
}
h1 {
  font-family: "Courier New", monospace;
}
i {
  color: green;
}
i {
  color: red;
}
b {
  color: pink;
}
p b {
  color: blue !important;
}
p b {
  color: violet;
}
p#intro {
  font-size: 100%;
}
p {
  font-size: 75%;
} */

/* body {
  font-family: Arial, Verdana, sans-serif;
  color: #665544;
  padding: 10px;
}
.page {
  border: 1px solid #665544;
  background-color: #efefef;
  padding: inherit;
} */
