/* .house-icon {
  color: brown;
  font-size: 36px;
} */

/* .Red {
  color: blue;
} */

/* ------- Media Queries (Mobile Responsive) ----  */

/* .main {
  width: 100%;
  height: 500px;
  background-color: aqua;
}

@media only screen and (max-width: 576px) {
  .main {
    background-color: orange;
  }
}

@media only screen and (min-width: 576px) {
  .main {
    background-color: red;
  }
}

@media only screen and (min-width: 768px) {
  .main {
    background-color: blue;
  }
}

@media only screen and (min-width: 992px) {
  .main {
    background-color: pink;
  }
}

@media only screen and (min-width: 1200px) {
  .main {
    background-color: purple;
  }
} */


